data/raw/*.csv
data/processed/*.parquet
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
spark-warehouse/
metastore_db/
derby.log
.vscode/
.idea/
*.swp
*.swo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
outputs/*.png
outputs/*.jpg
*.log
